*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Montserrat',
    sans-serif;
}
a{
    text-decoration: none;
    color: #18191F;
}
ul{
    list-style: none;
}
img{
    display: block;
    box-sizing: border-box;
}
p{
    font-size: 18px;
    line-height: 2em;
    color: #18191F;
    font-weight: 400;
}
h1{
    font-size: 60px;
    line-height: 2em;
    font-weight: 700;
    color: #575757;
    text-transform: capitalize;
}
h2{
    font-size: 40px;
    line-height: 2em;
    font-weight: 700;
    color: #707070;
    text-transform: capitalize;
}
h3{
    font-size: 28px;
    line-height: 2em;
    font-weight: 800;
    color: #18191F;
    text-transform: capitalize;
}
button{
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.button__style{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
   background: rgb(251, 143, 72);
   background: linear-gradient(rgb(251, 143, 72 ), rgb(254, 76, 47));
    padding: 15px 45px;
    border-radius: 25px;
}
.text__color{
    color: rgb(251, 146, 73);
}
.full{
    width: 100%;
    margin: 100px 0;
   
}
.container{
    width: 85%;
    margin: auto;
    box-sizing: border-box;
}
.col__2{
    width: 50%;
    box-sizing: border-box;
}
.col__3{
    width: 30%;
    box-sizing: border-box;
}
/*============ Basic Css End ==================*/

/*============ Header Area Css Start ==================*/
.header__area{
    margin-top: 0;
    margin-bottom: 0;
}
.header__main{
    align-items: center;
    padding: 20px 0;
}
.header__logo{
    font-size: 28px;
    line-height: 2em;
    font-weight: 700;
    color: rgb(251, 146, 73);
    text-decoration: initial;

}
/* .nav__list */
.nav__item{
    display: inline-flex;
    margin: 10px 20px;
}
.nav__item:hover .nav__link {
    color: rgb(251, 146, 73);
}
.nav__link{
    font-size: 20px;
    font-weight: 600;
    line-height: 2em;
    text-transform: capitalize;
    transition: all 0.4s linear;
}
.active{
    color: rgb(251, 146, 73);
}
/*============ Header Area Css End ==================*/

/*============ Banner Area Css Start ==================*/
.banner__area{
    margin-top: 0;
}
/* .banner__main  */
.banner__item {
    padding-top: 50px;
}
.banner__text {
    line-height: 1.5em;
    padding-bottom: 20px;
    
}
.banner__button{
    margin-top: 50px;
} 
.banner__images{
    width: 100%;
    box-sizing: border-box;
}
.banner__images img{
    display: block;
    width: 80%;
    margin: auto;
    height: 100%;
}
/*============ Banner Area Css End ==================*/

/*============ About Area Css Start ==================*/
.about__area
{
background: url(../images/about_bg.jpg) top left no-repeat;
background-position: cover;
width: 100%;
height: 100%;
padding-top: 50px;
/* margin-bottom: 50px; */
}
/* .about__main  */
.about__images{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.about__images img{
    width: 300px;
    height: 70%;
    margin: auto;
}
.about__items{
   margin-top: 50px;
    align-items: center;
}
/* .about__text  */
/* .about__button */
/*============ About Area Css End ==================*/

/*============ Product Area Css Start ==================*/
/* .product__area  */
.product__header{
text-align: center;
margin-bottom: 30px;
}
.product__header p{
    width: 50%;
    margin: auto;
} 

/* .product__text */
/* .product__main  */
.product__box{
    box-sizing: border-box;
    margin-left: 10px;
    -webkit-box-shadow: 0px 6px 17px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 17px 1px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    background-color: #FFFFFF;
    transition: all 0.4s linear;
}
.product__img{
    width: 100%;
   text-align: center;
   box-sizing: border-box;
}
.product__img img{
    margin: auto;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;

} 
.product__textItem{
    text-align: center;
    padding: 10px 0;
    transition: 0.4s linear;
} 
.product__textItem h3{
    transition: 0.4s linear;

}
.product__box:hover h3
{
    color: rgb(251, 146, 73);
}
.product__box:hover .button__style {
    background-color:transparent !important;
    color: #18191F;
}

.product__button{
    text-align: center;
    padding: 20px 0;
}
.button__style{
    transition: 0.4s linear;
}
/*============ Product Area Css End ==================*/

/*============ Count Area Css Start ==================*/
/* .count__area  */
.count_box {
    -webkit-box-shadow: 0px 6px 17px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 17px 1px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
     padding: 50px 0;
}
.count_text{
    text-align: center;
}
/*============ Count Area Css End ==================*/

/*============ footer Area Css Start ==================*/
.footer__area {
    background-color: #18191F;
    margin-bottom: 0;
    text-align: center;
}
.footer__text{
    padding: 50px 0 100px 0;
}
.footer__text p{
    color: #ffffff;
}
/*============ footer Area Css End ==================*/