*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Montserrat',
    sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    font-size: 18px;
    line-height: 2em;
    color: #18191F;
    font-weight: 400;
}
h1{
    font-size: 60px;
    line-height: 2em;
    font-weight: 700;
    color: #575757;
}
h2{
    font-size: 40px;
    line-height: 2em;
    font-weight: 700;
    color: #707070;
}
h3{
    font-size: 28px;
    line-height: 2em;
    font-weight: 800;
    color: #18191F;
}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.button__style{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(rgb(251, 146, 73), rgb(253, 78, 48));
}
.text__color{
    color: rgb(251, 146, 73);
}
.full{
    width: 100%;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}
/*============ Basic Css End ==================*/

/*============ Header Area Css Start ==================*/
/* .header__area */
.header__main{
    align-items: center;
    padding: 20px 0;
}
.header__logo{
    font-size: 28px;
    line-height: 2em;
    font-weight: 700;
    color: rgb(251, 146, 73);
    text-decoration: initial;

}
/* .nav__list */
.nav__item{
    display: inline-flex;
    margin: 10px 20px;
}
.nav__item:hover .nav__link {
    color: rgb(251, 146, 73);
}
.nav__link{
    font-size: 20px;
    font-weight: 600;
    line-height: 2em;
    text-transform: capitalize;
    transition: all 0.4s linear;
}
.active{
    color: rgb(251, 146, 73);
}
/*============ Header Area Css End ==================*/